body {
  font-family: 'Lato', sans-serif !important;
}

/* colors.css */
:root {
  --background-color: #FAF9F6;
  /* off white */
  --darkgreen-color: #1D3630;
  /*  */
  --green-color: #6E807A;
  /* Example secondary color */
  --lightgreen-color: #BECAC4;
  /* Example secondary color */
  --tan-color: #E1DFDA;
  /* Example secondary color */
  --black-color: #06140E;
  /* Example secondary color */
  --white-color: #FFFFFF;
  /* Example secondary color */
  --lightgery-color: #d3d3d3;
  /* Example secondary color */
}

body {
  background-color: var(--background-color);
}

.heading-2 {
  font-size: 20px;
  font-weight: 900;
}

.heading-container {
  margin-bottom: 20px;

}

.heading-tag {
  margin-bottom: 10px;
  background-color: #FE8E3E;
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;

}

.heading-3 {
  font-size: 14px;
  font-weight: 900;
  /* color: rgb(212, 34, 212); */
  /* color: lightgray; */
}

.heading-4 {
  font-size: 40px;
  font-family: fantasy;
  font-weight: 500;
  /* color: rgb(212, 34, 212); */
  /* color: lightgray; */
  color: purple;
}

.button-stats-home-container {
  padding: 10px 0px
}

p {
  margin: 3px 0px;
  font-size: 12px;
}

.text {
  margin: 3px 0px;
  font-size: 12px;
}

.toggle-button {
  margin-left: 20px;
  margin-top: 5px;
  display: flex;
  width: 100px;
  justify-content: flex-end;
}

.color-demo {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  /* margin-left: 10px; */
  /* Adjust the margin as needed */
  cursor: pointer;
  border: .5px solid lightgray;
  margin-bottom: 3px;
  /* padding-inline: 2px */
}

.home-color-container {


  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 2px;


}

.demo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 200px;

  @media (max-width: 600px) {
    /* Change to column layout on screens with a maximum width of 600px or less (adjust as needed) */
    width: 60px;
  }
}

/* .input-demo {
  padding:.5px solid grey
} */

.color-picker-container {
  display: flex;
  height: 100%;
  position: relative;
  /* Set position to relative */
  flex-direction: column;

}

.color-picker-width {
  width: 180px
}

.color-picker {
  position: absolute !important;
  left: 200px !important;
  top: 0px !important;
  z-index: 1 !important;
  background-color: lightgray;

  @media (max-width: 600px) {
    left: 60px !important;
  }
}

.rbgcp-inputs-wrap {
  /* font-size: 10px; */
  width: 175px
}

.responsive-flex-recerse {
  display: flex;
  flex-direction: row-reverse;
}

.responsive-flex {
  display: flex;
  flex-direction: row;
  /* Default direction is row */

  @media (max-width: 600px) {
    /* Change to column layout on screens with a maximum width of 600px or less (adjust as needed) */
    flex-direction: column;
  }
}

.popup_tabs-body {
  padding: 10px !important
}

.block-center {
  text-align: center;
}

.white-bg {
  background-color: white;
}

.tab-height {

  /* height:450px; */
  @media (max-width: 600px) {
    /* Change to column layout on screens with a maximum width of 600px or less (adjust as needed) */
    /* height:600px; */
  }
}


.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.carousel img {
  max-width: 100%;
  margin: 0 5px;
  flex: 0 0 auto;
}

.scroll-button {
  position: absolute;
  top: 50%;
  background-color: var(--background-color);
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
}

.scroll-button.left {
  left: 0;
}

.scroll-button.right {
  right: 0;
}

.tabs {
  margin: 10px;
}


/* /////////////////////////////////////////////////////////// */

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%
}

.center {
  display: flex;
  justify-content: center;
}

.types-of-qr-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--background-color);


}

.types-of-qr-select {
  width: 100% !important;
  padding: 18px !important;
  overflow-y: scroll;
  height: 100vh;
}

.types-of-qr-mobile-demo {
  width: 100%;
  height: 100vh;
  /* Use 100% of the viewport height */
  margin: 20px;
  
  /* overflow-y: scroll; */
  background-color: var(--background-color);

  /* Initially hide the scrollbar */

}

/* For Firefox, there isn't a standard way to hide the scrollbar until scrolling. 
   The scrollbar will be thin as defined above. */


.mobile-frame {
  position: relative;
  overflow: hidden;
  /* Ensure the overlay stays within the image boundaries */

}

.overlay {
  position: absolute;
  top: 2.5%;
  /* Adjust as needed for the desired height */
  left: 5%;
  /* Adjust as needed for the desired width */
  bottom: 2.5%;
  /* Adjust as needed for the desired height */
  width: 90%;
  /* Adjust the width of the overlay */
  height: 95%;
  /* Adjust the height of the overlay */
  background-color: white;
  opacity: 1;
  border-radius: 50px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Creates two columns */
  grid-gap: 10px;
  /* Adjust the space between the items */
  /* padding: 20px; */
}

.static-qr {
  padding: 20px;

}

.static-qr-tabs {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 6px;
  height: 80px;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 4px 6px 0 rgba(205, 209, 224, 0.5);
  background-color: var(--white-color);
  transition: all 0.25s ease-in-out;
  border-radius: 8px;
  margin-bottom: 10px;
}

.static-qr-tabs:hover {
  border-color: #FE8E3E;
}

.static-qr-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 100px;
  background-color: var(--background-color);
  margin-right: 20px;
  border-radius: 5px;
}


/* WebKit (Chrome, Safari) scrollbar styles */
/* ::-webkit-scrollbar {
  width: 0px; /* Hide the scrollbar */


/* When the user hovers over the container, show the scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--background-color);
  border-radius: 20px;
  /* Round edges */
}